<div class="container-fluid">
  <div class="row">
    <nav class="box mb-3" role="navigation" aria-label="Menu principal">
      <ul class="p-2 d-flex align-items-center">
        <li class="d-flex flex-column align-items-center" *ngFor="let monthData of monthsData"
            (click)="loadContent($event, monthData)">
          <a href="#">{{monthData.month}}</a>
          <img class="polygon" [hidden]="selectedMonth?.month !== monthData.month" src="assets/polygon.png">
        </li>
      </ul>
    </nav>
    <main role="main">
      <div class="box-content d-flex flex-column align-items-center" *ngIf="selectedMonth">
        <h1>{{selectedMonth.contentTitle}}</h1>
        <div class="mt-3" [innerHTML]="selectedMonth.content"></div>
      </div>
    </main>
  </div>
</div>


