main {
  max-width: 720px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

nav {
  min-width: 664.5px;
  ul li{
    width: 40px;
    height: 34px;
    display: flex;
    align-items: center;
    margin: 0.5em;
    background-color: #C4C4C4;
    cursor: pointer;
    a {
      color: inherit;
      text-decoration: none;
      font-weight: bold;
      font-size: 12px;
      margin-top: 0.6em;
      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

.box-content {
  background-color: #C4C4C4;
  padding: 2em;
  width: 99%;
}

.polygon {
    position: relative;
    width: 40px;
    height: 20px;
    top: 0.6em;
}

#details-month {
  position: fixed;
  max-width: 720px;
  -webkit-backface-visibility: hidden;
  top: 5.1em;

  article {
    header {
      text-align: center;
    }
    footer {
      text-align: justify;
    }
  }
}

